<footer id="footer">
  <div class="container container-footer-size">
    <div class="footer-container">
      <div class="footer-socials-blok">
        <a href="index.html" class="footer-logo">watchcharm</a>
        <ul class="footer-social">
          <li class="footer-social-list">
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-social-list-link"
              aria-label="icon facebook"
              target="blank"
            >
              <svg class="footer-social-icon" width="18px" height="18px">
                <use href="./img/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icon">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-social-list-link"
              aria-label="icon instagram"
              target="blank"
            >
              <svg class="footer-social-icon" width="18px" height="18px">
                <use href="./img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icon">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-social-list-link"
              aria-label="icon youtube"
              target="blank"
            >
              <svg class="footer-social-icon" width="18px" height="18px">
                <use href="./img/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <address class="footer-tel">
        <a href="tel:+380684439426" class="footer-tel-text"
          >+380 (68) 443-94-26</a
        >
      </address>

      <p class="footer-tagline">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
      <nav class="footer-anchors-address">
        <ul class="footer-anchors-list">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">About Us</a>
          </li>
          <li>
            <a href="#catalog">Catalog</a>
          </li>
          <li>
            <a href="#sale">Sale</a>
          </li>
          <li>
            <a href="#reviews">Reviews</a>
          </li>
          <li>
            <a href="#cont">Contact Us</a>
          </li>
        </ul>

        <address class="footer-address">
          1678 S. Pioneer Road Salt Lake City UT 84104
        </address>
      </nav>
      <div class="footer-text-privacy">
        <p class="footer-text">©2023 The Watch Spot. All rights reserved.</p>
        <div class="footer-service">
          <a href="">Terms of Service</a>
          <a href="">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
