.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }
}

section {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  section {
    margin-bottom: 80px;
  }
}

@media (min-width: 1280px) {
  section {
    margin-bottom: 100px;
  }
}
